In [209]:
filepath='Datafiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [210]:
def dataframecol(df):
    columns=df.columns
    for column in columns:
        print(column,end=" ")
    return

In [211]:
li=[]
a=input()
n=a.split(" ")
li.append(n)
li

[['']]

In [212]:
def common(num):
    c=[]
    for i in range(1,int(num)+1):
        if(int(num)%i==0):
            c.append(i)
    print(c)
            
def comm():
    n=input()
    a=n.split(" ")
    for i in a:
        common(i)
comm()

ValueError: invalid literal for int() with base 10: ''

In [213]:
li=[1,2,2]
set(li)
c=[]
c=set(li)

In [214]:
incomedf=readCSVdata(filepath)
def printcolumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
printcolumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [215]:
incomedf = readCSVdata(filepath)

# Function to print all column names in a single line
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printDataFrameColumns(df):
    columns = df.columns
    for column in columns:
        print(column, end=' ')
    return

printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [216]:
def printdatarows(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
printdatarows(incomedf,'Arizona')

04000US04 Arizona 45245 46657 47215 46914 45739 46896 48621 47044 50602

In [217]:
def avg(df):
    li=[]
    for i in range(len(df.values)):
        s=sum(df.values[i][2:])
        li.append(s//9)
        
    print(sum(li)//5)
highavg3years(incomedf)

48524

In [218]:
def getrowindex(df,rowkey):
    for i in range(len(df.values)):
        if (df.values[i][0]==rowkey or df.values[i][1]==rowkey):
            rowindex=i
    return rowindex
def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if(df.columns[i]==columnkey):
            columnindex=i
    return columnindex

getrowindex(incomedf,'2013')

UnboundLocalError: local variable 'rowindex' referenced before assignment

In [219]:
def avgincome(incomedf,s,e):
    avg=[]
    l=e-s+1
    for i in range(0,len(df.values)):
        s=sum(incomedf.values[i][s:e+1])
        avg.append(s//l)
    return avg
s=getrowindex(incomedf,'2005')
e=getrowindex(incomedf,'2013')
avginc=avgincome(incomedf,'2005','2013')
print(sum(avginc)//len(avginc))

UnboundLocalError: local variable 'rowindex' referenced before assignment

In [220]:
def high3years(df):
    l=[]
    high=0
    l1=[]
    for i in range(len(df.values)):
        l.append(df.values[i][8:])
    for i in l:
        summ=sum(i)
        l1.append(summ)
    for i in range(0,len(l1)):
        if(l1[i]==max(l1)):
            print(df.values[i][1])
        
high3years(incomedf)

Alaska

In [221]:
def low3years(df):
    l=[]
    high=0
    l1=[]
    for i in range(len(df.values)):
        l.append(df.values[i][8:])
    for i in l:
        summ=sum(i)
        l1.append(summ)
    for i in range(0,len(l1)):
        if(l1[i]==min(l1)):
            print(df.values[i][1])
        
low3years(incomedf)

Arkansas

In [228]:

def inleca(df):
    c=getri(incomedf,'California')
    summ=sum(df.values[c][2:])
    for i in range(0,len(df.values)):
        if(sum(df.values[i][2:])<summ):
            print(df.values[i][1], end=" ")
inleca(incomedf)

Alabama Arizona Arkansas

In [223]:
def getri(df,rowkey):
    for i in range(len(df.values)):
        if (df.values[i][0]==rowkey or df.values[i][1]==rowkey):
            rowindex=i
    return rowindex
def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if(df.columns[i]==columnkey):
            columnindex=i
    return columnindex

In [251]:
def des2009(df):
    li=[]
    c=getcolumnindex(incomedf,'2009')
    for i in range(0,len(df.values)):
        li.append(df.values[i][c])
    li=sorted(li,reverse=True)
    for i in li:
        for j in range(0,len(df.values)):
            if(i==df.values[j][c]):
                print(df.values[j][1],end=" ")
des2009(incomedf)

Alaska California Arizona Alabama Arkansas

In [295]:
def recsmal(df):
    li=[]
    low=999999
    s=getcolumnindex(incomedf,'2005')
    e=getcolumnindex(incomedf,'2013')
    for i in range(len(df.values)):
        li.append(df.values[i][s:e+1])
        if(min(li[i])<=low):
            low=min(li[i])
        
            print(j)
recsmal(incomedf)

TypeError: 'int' object is not iterable