### String slicing

In [51]:
s1="hijanu"
s=len(s1)
if(s%2==0):
    print (s1[s//2],s1[s//2-1])
else:
    print (s1[s//2])


s1[-1::-1]# Reverse of a string
s1[-1:-3:-1]#Access last two char in reverse order
#Reverse the middle two char in an even length string
s1[::2]#Accessing alternate characters
s1[::-2]#Accessing alternate charac in rev order

a j

'hjn'

## Functions

In [57]:
#Function to reverse a string
def reverseString(s):
    return s[::-1]

reverseString("janu")

'unaj'

In [66]:
#Function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False

palindrome("janu")

False

In [73]:
#leap year
def leapyear(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    else:
        return False
    
leapyear(2020)

True

In [90]:
#count digits
def count(num):
    return len(str(num))

count(1223)

4

In [93]:
#greatest among 4 num
def greatest(n1,n2,n3,n4):
    if(n1>=n2 and n1>=n3 and n1>=n4):
        return n1
    elif(n2>=n1 and n2>=n3 and n2>=n4):
        return n2
    elif(n3>=n1 and n3>=n2 and n3>=n4):
        return n3
    else:
        return n4
    
greatest(2,7,7,5)

7

## Iteration
* for
* while

In [101]:
# function to print n natural num
def printNNaturalnum(n):
    for counter in range(1,n+1):
        print(counter, end=" ")
    return
printNNaturalnum(10)

1 2 3 4 5 6 7 8 9 10

In [104]:
def nNaturalnum(n):
    counter =1
    while counter<=n:
        print(counter, end=" ")
        counter= counter+1
    return

nNaturalnum(10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
#Function to print all numbers divisible by 6 and 
def divisible(lb,ub):
    count=lb
    while(count<=ub):
        if(count%6==0 and 100%count!=0):
            print(count,end=" ")
        count=count+1


divisible(0,50)

In [ ]:
# Not a factor of 100 in a given range(lb,ub) inclusive
def average(lb,ub):
    count=lb
    for count in range(count,uba=)

In [1]:
#Function to print all numbers divisible by 6 and 
def divisible(lb,ub):
    while(lb<=ub):
        if(lb%6==0 and 100%lb!=0):
            print(lb,end=" ")
        lb=lb+1
divisible(1,1000)

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 300 306 312 318 324 330 336 342 348 354 360 366 372 378 384 390 396 402 408 414 420 426 432 438 444 450 456 462 468 474 480 486 492 498 504 510 516 522 528 534 540 546 552 558 564 570 576 582 588 594 600 606 612 618 624 630 636 642 648 654 660 666 672 678 684 690 696 702 708 714 720 726 732 738 744 750 756 762 768 774 780 786 792 798 804 810 816 822 828 834 840 846 852 858 864 870 876 882 888 894 900 906 912 918 924 930 936 942 948 954 960 966 972 978 984 990 996

16

In [4]:
def cubes(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        if(i%2==0):
            sum=sum+i**3
            count=count+1
    avg=sum/count
    print(avg)
cubes(1,10)

360.0

In [8]:
def factorial(num):
    fact=1
    sum=0
    count=1
    for i in range(1,num+1):
        fact=fact*i
    return fact
factorial(5)

120

In [27]:
def prime(num):
    count=0
    for i in range(1,num+1):
        if(num%i==0):
            count=count+1
    if (count==2):
        return True
    else:
        return False
prime(5)

True

In [11]:
def Nprime(ran):
    count=0
    count1=0
    sum=0
    for i in range(1,ran+1):
        for j in range(1,i):
            if(i%j==0):
                count=count+1
        if(count==2):
            sum=sum+i
            count1=count1+1
    avg=sum/count1
    print(avg)
Nprime(100)

3.0

In [20]:
def avgfactorial(lb,ub):
    total=0
    for i in range(lb,ub+1):
        total=total+factorial(i)
    return total/ub
avgfactorial(1,4)

8.25

def alternateValues(lb,ub):
    for i in range(lb,ub+1,2):
        print(i)
    return
alternateValues(0,10)

In [2]:
def reverse(lb,ub):
    for i in range(ub,lb-1,-1):
        print(i)
    return
reverse(1,10)

10
9
8
7
6
5
4
3
2
1

In [35]:
#print odd num in reverse order in a  given range
def oddrev(lb,ub):
    for i in range(ub,lb-1,-1):
        if(i%2==1):
            print(i)
oddrev(1,10)

9
7
5
3
1

In [65]:
#print the sum of numbers in a given range
def sumran(lb,ub):
    total=0
    for i in range(lb,ub+1):
        total=total+i
    print(total)
sumran(100,200)

15150

In [1]:
#multiplication of num in a given range
def multiplication(lb,ub,num):
    total=0
    for i in range(lb,ub+1):
        c=num*i
        print(num,"*",i,"=",c)
multiplication(100,102,3)

3 * 100 = 300
3 * 101 = 303
3 * 102 = 306

In [3]:
def amstrong(num):
    temp=num
    total=0
    while(temp!=0):
        temp1=temp
        temp=temp%10
        total=total+temp**3
        temp=temp1//10
    if(total==num):
        return True
    else:
        return False

amstrong(153)

True

In [5]:
#generate all leap years in a given time period
def isLeap(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    return False

isLeap(2000)

True

In [4]:
def rangeleap(lb,ub):
    for year in range(lb,ub+1):
        if(isLeap(year)==True):
            pri(year,end=" ")

rangeleap(2000,2020)

NameError: name 'isLeap' is not defined

In [7]:
#time period for given range 
def day(lb,ub):
    total=0
    for year in range(lb,ub+1):
        if(isLeap(year)==True):
            days=366
        else:
            days=365
        total=total+days
    return total
day(2000,2003)

1461

In [ ]:
#calculate the number of hours for a given period(month1,year1,month2,year2)
def no

In [ ]:
def Namstrong(num):
    count=1
    while num != 0:
        if amstrong(count):
            if(count%2==1):
                print(count)
                num-=1
        count=count+1

Namstrong(5)

In [12]:
def perfect(num):
    sum=0
    for i in range(1,num):
        if(num%i==0):
            sum=sum+i
    if(sum==num):
        return True
    else:
        return False
perfect(6)

True

In [20]:
def Nperfect(num):
    count=1
    while num!=0:
        if perfect(count):
            num-=1
            print(count)
        count=count+1
Nperfect(3)

6
28
496

In [24]:
def rangeperfect(lb,ub):
    for i in range(lb,ub+1):
        if perfect(i):
            print(i)

rangeperfect(1,500)

6
28
496

In [31]:
def Nprime(num):
    temp=0
    while num!=0:
        if(prime(temp)):
            num-=1
            print(temp)
        temp=temp+1
Nprime(5)

2
3
5
7
11

In [33]:
def rangeprime(lb,ub):
    for i in range(lb,ub+1):
        if prime(i):
            print(i,end=" ")

rangeprime(1,500)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499

In [9]:

# Function to calculate number of hours for a given period in the format(month1, year1, month2, year2)
# numberOfHours(11, 1975, 3, 1999) -> 204504 or 205248
# numberOfHours(5, 2019, 6, 2019) -> 1464
# 2, 2016 , 6, 2019
# 
#  [all days from feb 2016 to dec 2016, 
# .  all days for years between 2016+1 and 2019-1,
#     all days from Jan to June 2019]
#No of hours = 24 * No of days
# 3 steps
    #1. start month year to end of year - calculate no of days
    #2. Calculate days for all years between start year and end year exclusive
            # 2017, 2018 - 365 * no of years
    #3. calculate days from Jan to end month year

# Excluding Feb
# First Six months - 1, 3, 4, 5, 6, 7 
                    # All odd months have 31 days
                    # All even months have 30 days
# Last Six months - 8, 9, 10, 11, 12
                    # All even months have 31 days
                    # All odd months have 30 days
        
# 31 days - (month <= 7 and month % 2 != 0 and month != 2) || (month >= 8 and month %2 == 0)
#                return 31
#
#            else
#                return 30



def numberOfDaysMonth(month, year):
    if month == 2:
        if isLeap(year):
            return 29
        return 28
    elif (month <= 7 and month % 2!= 0) or (month >= 8 and month % 2 == 0):
        return 31
    else:
        return 30

def daysInStartYear(startmonth, startyear):
    days = 0 
    for month in range(startmonth, 13):
        days += numberOfDaysMonth(month, startyear)
    return days    

def daysInEndYear(endmonth, endyear):
    days = 0
    for month in range(1, endmonth+1):
        days += numberOfDaysMonth(month, endyear)
    return days

def numberOfHours(startmonth, startyear, endmonth, endyear):
    days = 0
    if startyear != endyear:
        days += daysInStartYear(startmonth, startyear)
        days += daysInEndYear(endmonth, endyear)
        if endyear - startyear == 2: # 2019 - 2017
            days += day(startyear+1, startyear+1)
        elif endyear - startyear > 2:
            days +=day(startyear+1, endyear-1)
    else:
        for month in range(startmonth, endmonth+1):
            days += numberOfDaysMonth(month, startyear)
    return 24 * days

numberOfHours(6, 2018, 7, 2018)

1464